.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card-container {
    display: flex;
  }

  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    flex-basis: 50%;
    box-sizing: border-box;

    &.card-balance {
      background-color: var(--grey-color);

      .balance-amount {
        font-weight: bold;
        font-size: 24px;
      }
    }

    &.card-points {
      background-color: var(--grey-color);

      .points-amount {
        font-weight: bold;
        font-size: 24px;
      }
    }

    &.card-payment {
      background-color: var(--grey-color);

      .checkmark {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-color);
        height: 80px;

        span {
          font-size: 48px;
          color: var(--bs-white);
        }
      }
    }
  }
}
